#mov-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#search-cont {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}
h3 {
    font-size: 3rem;
}

#side {
    display: flex;
}

#poster {
    width: 300px;
    align-self: flex-start;
}

#info {
    display: flex;
    flex-direction: column;
}

#info > p {
    font-size: 2rem;
    margin-left: 5%;
    width: 40vw;
}

#ever > h3 {
    text-decoration: underline;
}

#info > h3{
    font-size: 1rem;
    margin-left: 5%;
}

#info > h4 {
    font-size: 1rem;
    margin-left: 5%;
}